/*File: style.css
* Author: erencsik Boglárka
* Group: SZOFT-I-2-N
* Date: 2023-05-19
* Github: https://github.com/fbog05/
* Licenc: GNU GPL
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(223, 205, 178);
}

h1{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(124, 87, 87);
}

.table{
    border: double 3px rgb(124, 87, 87);
    background-color: rgb(218, 187, 141);
}

#about{
    margin-left: 700px;
    margin-top: 20px;
    border: double 3px rgb(124, 87, 87);
    text-align: center;
    width: 500px;
    color:rgb(90, 64, 64);
    background-color: rgb(218, 187, 141);
}

.idezet{
    margin-left: 700px;
    text-align: center;
    background-color: rgb(196, 167, 125);
    width: 500px;
    color:rgb(90, 64, 64);
    font-style: italic;
}