/*File: style.css
* Author: erencsik Boglárka
* Group: SZOFT-I-2-N
* Date: 2023-05-19
* Github: https://github.com/fbog05/
* Licenc: GNU GPL
*/

body{
    background-color: blanchedalmond;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

.idezet{
    text-align: center;
}